@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* #42a5f5 */
    --color-primary-disabled: 66 165 245;
    /* #1976d2 */
    --color-primary-main: 25 118 210;
    /* #1565c0 */
    --color-primary-active: 21 101 193;


    /* #ba68c8 */
    --color-secondary-disabled: 186 104 200;
    /* #9c27b0 */
    --color-secondary-main: 155 38 176;
    /* #7b1fa2 */
    --color-secondary-active: 123 31 162;


    /* #ef5350 */
    --color-error-disabled: 239 83 80;
    /* #d32f2f */
    --color-error-main: 211 47 47;
    /* #c62828 */
    --color-error-active: 198 40 40;


    /* #ff9800 */
    --color-warning-disabled: 255 152 0;
    /* #ed6c02 */
    --color-warning-main: 237 108 2;
    /* #e65100 */
    --color-warning-active: 230 81 0;


    /* #03a9f4 */
    --color-info-disabled: 3 169 244;
    /* #0288d1 */
    --color-info-main: 2 136 209;
    /* #01579b */
    --color-info-active: 1 87 155;


    /* #4caf50 */
    --color-success-disabled: 76 175 80;
    /* #2e7d32 */
    --color-success-main: 46 125 50;
    /* #1b5e20 */
    --color-success-active: 27 94 32;


    /* #9e9e9e */
    --color-neutral-disabled: 158 158 158;
    /* #757575 */
    --color-neutral-main: 117 117 117;
    /* #212121 */
    --color-neutral-active: 33 33 33;

    /* #e0e0e0 */
    --color-action-disabled: 224 224 224;
    /* #757575 */
    --color-action-main: 117 117 117;
    /* #212121 */
    --color-action-active: 33 33 33;
    /* #ffffff */
    --color-action-contrast: 255 255 255;
}

.theme-dark {
    /* #42a5f5 */
    --color-primary-disabled: 66 165 245;
    /* #90caf9 */
    --color-primary-main: 144 202 249;
    /* #e3f2fd */
    --color-primary-active: 227 242 253;

    /* #ab47bc */
    --color-secondary-disabled: 171 71 188;
    /* #ce93d8 */
    --color-secondary-main: 206 147 216;
    /* #f3e5f5 */
    --color-secondary-active: 243 229 245;

    /* #d32f2f */
    --color-error-disabled: 211 47 47;
    /* #f44336 */
    --color-error-main: 244 67 54;
    /* #e57373 */
    --color-error-active: 230 115 115;

    /* #f57c00 */
    --color-warning-disabled: 245 124 0;
    /* #ffa726 */
    --color-warning-main: 255 167 38;
    /* #ffb74d */
    --color-warning-active: 255 183 77;

    /* #0288d1 */
    --color-info-disabled: 2 136 209;
    /* #29b6f6 */
    --color-info-main: 41 182 246;
    /* #4fc3f7 */
    --color-info-active: 79 195 247;

    /* #388e3c */
    --color-success-disabled: 56 142 60;
    /* #66bb6a */
    --color-success-main: 102 187 106;
    /* #81c784 */
    --color-success-active: 129 199 132;

    /* #616161 */
    --color-neutral-disabled: 97 97 97;
    /* #9e9e9e*/
    --color-neutral-main: 158 158 158;
    /* #e0e0e0 */
    --color-neutral-active: 224 224 224;

    /* #424242 */
    --color-action-disabled: 66 66 66;
    /* #9e9e9e */
    --color-action-main: 158 158 158;
    /* #ffffff */
    --color-action-active: 255 255 255;
    /* #212121 */
    --color-action-contrast: 33 33 33;
}

* {
    -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
    width: 12px;
    background: none;
}

*::-webkit-scrollbar-track {
    margin: 4px;
    background: none;
}

*::-webkit-scrollbar-thumb {
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 9999px;
    background: rgb(var(--color-action-main));
    background-clip: padding-box;
}

.markdown h1,
.h1,
.markdown h2,
.h2,
.markdown h3,
.h3,
.markdown h4,
.h4,
.markdown h5,
.h5,
.markdown h6,
.h6,
.markdown p,
.p,
.markdown ul,
.ul,
.markdown blockquote,
.blockquote,
.markdown hr,
.hr,
.markdown ol,
.ol {
    margin: 1.3rem 0;
}

.markdown ul ul,
.ul .ul,
.markdown ul ol,
.ul .ol,
.markdown ol ul,
.ol .ul,
.markdown ol ol,
.ol .ol {
    margin: 0;
}

.markdown h1,
.h1,
.markdown h2,
.h2,
.markdown h3,
.h3,
.markdown h4,
.h4,
.markdown h5,
.h5,
.markdown h6,
.h6 {
    margin-top: 1.5rem;
    font-weight: 600;
}

.markdown h1,
.h1,
.markdown h2,
.h2 {
    border-bottom: 0.07rem solid rgb(var(--color-action-disabled));
    padding-bottom: 0.3em;
}

.markdown h1,
.h1 {
    font-size: 2.20rem;
}

.markdown h2,
.h2 {
    font-size: 2rem;
}

.markdown h3,
.h3 {
    font-size: 1.80rem;
}

.markdown h4,
.h4 {
    font-size: 1.60rem;
}

.markdown h5,
.h5 {
    font-size: 1.40rem;
}

.markdown h6,
.h6 {
    font-size: 1.20rem;
}

.markdown ol,
.ol,
.markdown ul,
.ul {
    padding-left: 1.25rem;
}

.markdown ol,
.ol {
    list-style: decimal;
}

.markdown ul,
.ul {
    list-style: disc;
}

.markdown li+li,
.li+.li {
    margin-top: 0.5em;
}

.markdown blockquote,
.blockquote {
    padding: 0.5rem 0;
    padding-left: 1rem;
    border-left: solid 0.2rem rgb(var(--color-action-main));
    font-style: italic;
}

.markdown code,
.code {
    padding: 0.2em 0.4em;
    font-size: 85%;
    white-space: break-spaces;
    border-radius: 0.5em;
    background: rgb(var(--color-action-disabled));
}

.markdown a,
.a {
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    color: rgb(var(--color-info-main));
}

.markdown a:hover,
.a:hover {
    color: rgb(var(--color-info-active));
}


.markdown hr,
.hr {
    border: 0;
    border-bottom: 0.07rem solid rgb(var(--color-action-disabled));
}

.markdown th,
.th,
.markdown td,
.td {
    padding: 0.6rem 1em;
    border-right: 0.07rem solid rgb(var(--color-action-disabled));
}

.markdown td:last-child,
.td:last-child,
.markdown th:last-child,
.th:last-child {
    border-right: 0;
}

.markdown tr,
.tr {
    border-bottom: 0.07rem solid rgb(var(--color-action-disabled));
}

.markdown tr:last-child,
.tr:last-child {
    border-bottom: 0;
}